
<%= form_with model: @session, local: true do |form| %>
    <% if @session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>
  
        <ul>
          <% @session.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    

    <div class="field">
    <%= form.label :patient_id, "Patient Name" %>
    <%= form.select :patient_id, Patient.all.pluck(:name, :id), prompt: "Select a patient" %>
  </div>

  
    <div class="field">
      <%= form.label :date %>
      <%= form.text_field :date, id: "session_date", class: "form-control", 
      data: {
        controller: "flatpickr",
        flatpickr_date_format: "Y-m-d",
        flatpickr_min_date: Time.zone.now
        } 
        %>
    </div>

    <div class="field">
      <%= form.label :amount %>
      <%= form.number_field :amount %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <div>
  <%= link_to "Create New Patient", new_patient_path, class: "btn btn-primary" %>
  </div>